body {
    background-color: #2f4f30;
    color: white;
}
.header {
    background-color: black;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.content-card {
    height: 250px;
}
.image {
    position: relative;
    left: 80px;
    width: 150px;
    height: 200px;
    margin-left: -75px;
}